@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding: 8px;
  background-position: left;
  background-size: ;
  background: radial-gradient(
    circle at top,
    rgb(225, 32, 32) 0%,
    rgb(29, 29, 165) 35%,
    rgb(59, 153, 172) 100%
  );
}

@font-face {
  font-family: "Honk";
  src: url("./assets/fonts/Honk-Regular-VariableFont_MORF,SHLN.ttf");
}

.logo {
  font-family: "Honk";
  font-size: 5rem;
}
